body {
  margin: 0;
}
h1 {
  font-weight: 700;
  text-align: center;
}
h2 {
  font-weight: 700;
  text-align: center;
}

h3 {
  font-weight: 400;
  text-align: left;
}

.summary {
  padding: 1.0em;
  background-color: #90C2D2;
  border: 3px solid #527480;
  border-radius: 5px;
}

.review {
  margin-top: 2.0em;
  margin-bottom: 0.0em;
  padding: 2.0em;
  color: black;
  background-color: #90C2D2;
  border: 3px solid #527480;
  border-radius: 5px;
}


.container div {
  padding: 1%;
  box-sizing: border-box;
  min-height: 500px;
  outline: black;
}
.left-align{
  text-align: left;
}
.center-align{
  text-align: center;
}
.center-col {
  /*          background-color: pink; */
  width: 25%;
  height: 500px;
  float: left;
}

.poster {
  border: 3px solid #527480;
  border-radius: 5px;
}

.button {
  text-transform: capitalize;
  color: #fafafa;
  background-color: #527480;
  border: 3px solid #363636;
  /*border: 3px solid #3c555e;*/
}

.button:hover {
  color: #3c555e;
  background-color: #fafafa;
  border: 3px solid #3c555e;
}

.timestamp {
  margin-top: 0;
  margin-bottom: 0;
  color: #c6f1ff;
  font-weight: 500;
  background-color: #885874;
  border: 3px solid #5e3c50;
  padding: 0.75em;
  margin-right: 0.75em;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

/* Trailer popup */

.popup-content {
  background: transparent;
  border: none;
}

.popup-overlay {
  background:rgba(255, 255, 255, 0.5);
}

.modal {
  background-color: #90C2D2;
  border: 3px solid #527480;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
}
.modal > .header {
  width: 100%;
  text-align: center;
  margin-top: 0;
}
.modal > .content {
  width: 100%;
  font-size: 20px;
  text-align: center;
}
.modal > .aspect-content {
  position: relative;
  padding-top: 56.25%;
  text-align: center;
  
}

.modal > .aspect-content > .aspect-player {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 0;
  border: 3px solid #363636;
  border-radius: 3px;
}
.modal > .actions {
  width: 100%;
  text-align: center;
  margin-top: 1.5em;
}

/*
border: 3px solid #773740;
background-color: #a31a2f;

border: 3px solid #990033;
*/
